.content {
    background-color: #222;
    position: absolute;
    width: 60%;
    height: 80%;
    top: 5%;
    left: 20%;
    
    font-size: 50px;
    font-style: initial;
    font-weight: initial;

    text-align: center;

    border-width: 1px;
    border-style: solid;
    border-color: white;
}